{% extends "index.html" %}

{% block title %}Profile Summary{% endblock %}

{% block content %}

<h3>
		Profile overview for {{ user.username }}
</h3>

<div class="profile_info">	
	<p>User since {{ user.date_joined }}</p>
	<p>First name: {{ user.first_name }}</p>
	<p>Last name: {{ user.last_name }}</p>
	<p>Email: {{ user.email }} </p>
	<p>Zip Code: {{ profile.zip_code }}</p>
    {{ profile.avatar.thumb_tag }}
    <br />
	<div>
			<a href="{% url hungry.accounts.views.profile_update %}">Update Profile Information</a>
	</div>
</div>

<div class="profile_form clear">

	<h3>
		{% block profile_header %}{% endblock %}
	</h3>

	{% block profile_form %}{% endblock %}
</div>

{% endblock %}
