{% extends "layout.html" %}

{% block title %}Profile Summary{% endblock %}

{% block content %}

<div id="left3pt">
	
	<div id="img320">
		{{ profile.avatar.thumb_tag }}
	</div>
	
	<p>User since {{ user.date_joined }}</p>
	<p>First name: {{ user.first_name }}</p>
	<p>Last name: {{ user.last_name }}</p>
	<p>Email: {{ user.email }} </p>
	<p>Zip Code: {{ profile.zip_code }}</p>
    <br />
</div>


<div id="graymenu">
	
	<h3 class="middle">{{ user.username }}</h3><br>

{% block profile_header %}{% endblock %}
{% block profile_form %}{% endblock %}


<h3>
    Albums
</h3>
    {% for album in user_albums %}  
            <a href="{% url hungry.media.views.user_album user.username album.slug %}">{{ album.name }}</a>
    {% endfor %}
</div>

{% endblock %}
