{% extends "accounts/account_profile.html" %}

{% block title %}Update Profile{% endblock %}

{% block profile_header %}Update Profile Information{% endblock %}

{% block profile_form %}

<form action="." method="POST">
		{% csrf_token %}
		<table class="site_form_table">
				{{ form.as_table }}
		</table>
		<p><strong>Note:</strong> Providing your zip code helps us serve you more interesting videos.</p>
		<input type="submit" value="Submit" />
</form>

<br />

<h3>Change Profile Picture</h3>

<form id="photo_form" action="{{ transloadit_url }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
		{{ transloadit_form.as_p }}
        
</form>

<script type="text/javascript">
   // We call .transloadit() after the DOM is initialized:
   $(document).ready(function() {
     $('#photo_form').transloadit({
        wait: true,
     });
     $('#id_my_file').change(function(e) {
        $('#photo_form').submit();
     });
   });
</script>

{% endblock %}
