	<div id="footer">
		<div id="footerbox">
			<div id="footertitle"><span class="footertitlecopy">&nbsp;About</span></div>
			<span class="footercopy">
				&bull; <a href="#">About Hungrry</a><br>
				&bull; <a href="#">Press</a><br>
				&bull; <a href="#">Terms of Service</a><br>
				&bull; <a href="#">Privacy Policy</a><br>
			</span>
		</div>
		<div id="footerbox">
			<div id="footertitle"><span class="footertitlecopy">&nbsp;Bonus!</span></div>
			<span class="footercopy">
				&bull; <a href="#">The Hungrry App</a><br>
				&bull; <a href="#">Jobs at Hungrry</a><br>
				&bull; <a href="#">Blog</a><br>
				&bull; <a href="#">Our Friends</a><br>
			</span>
		</div>
		<div id="footerboxend">
			<div id="footertitle"><span class="footertitlecopy">&nbsp;Help</span></div>
			<span class="footercopy">
				&bull; <a href="#">FAQ</a><br>
				&bull; <a href="#">Contact</a><br>
			</span>
		</div>
			
		<div id="footerfinal">Hungrry Inc.<br>Copyright &copy; 2011</div>	


	</div>
