
<!-- header -->
	<div id="header">
		<div id="headerleft">
			<img src="{{ STATIC_URL }}images/logo_wb2.png" border="0">
		</div>

		{% if user.is_authenticated %}
		
		<div id="headermiddle">
		</div>
		<div id="headerright">
			<!-- these links are placeholders except for 'logout' -->
			<span class="whitetype">Profile &nbsp; &nbsp; Messages <b>(2)</b> &nbsp; &nbsp; Calendar &nbsp; &nbsp; Friends  &nbsp; &nbsp; <a href="{% url auth_logout %}">Logout</a></span>
		</div>
		
		{% else %}

		<div id="headerdouble">
			<form action="{% url auth_login %}" method="POST">
			{% csrf_token %}

			<div id="headerdoubleblock">
				<span class="whitetype">Email:</span>
			</div>
			<div id="headerdoubleblock">
				<span class="whitetype">Password:</span>
			</div>
			<div id="headerdoubleblock">&nbsp;</div>
			
			<div id="headerdoubleblock">
				<input type="text" name="username" class="texta" />
			</div>
			<div id="headerdoubleblock">
				<input type="password" name="password" class="texta" />
			</div>
			
			<div id="headerdoubleblock">
				<div id="loginbutton">
					<input type="submit" value="Login" class="loginbtn"/>
				</div>
				<div id="orsignup" class="whitetype">
					or &nbsp; <b>Sign up!</b>
				</div>
			</div>

		
			</form>
		</div>
		{% endif %}

	</div>
<!-- header -->
