{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main_content %}

<h2>Log In</h2>

<span class="float_left">
		<p>Log in to rate, and comment on other users' videos and submit your own!</p>
</span>

<span class="float_right">
	<div class="login_form site-form_table">
			<form action="." method="POST">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
		<input type="submit" value="Login" />
</form>
	<a href="{% url registration_register %}">Need an account?</a>
	</div>

</span>

{% endblock %}
